<div class="main">
  <div class="content">
    <div class="header">
      <div class="header__top">
        <div class="header__links">
          <div class="header__link">
            <span class="header__link-label">E-mail</span>
            <a class="header__link-href">Neverovskypa@gmail.com</a>
          </div>
          <div class="header__link">
            <span class="header__link-label">LinkedIn</span>
            <a class="header__link-href">Click here</a>
          </div>
        </div>
        <a class="header__pdf">PDF CV</a>
      </div>
      <div class="header__about">
        <span class="header__small">Hello there!</span>
        <div class="header__text"><span class="header__grey">My name is</span> Paul N.</div>
        <div class="header__text"><span class="header__grey">I’m a</span> Product Designer</div>
      </div>
      <div class="header__tags">
        <div class="header__tag" *ngFor="let tag of tags">{{tag}}</div>
      </div>
    </div>
    <div class="summary">
      <div class="title">Summary</div>
      <div class="summary__list">
        <div class="summary__item" *ngFor="let item of summary; let i = index">
          <div class="summary__icon"><img [src]="'/assets/summary-' + (i+1) + '.png'" alt="icon"></div>
          <div class="summary__text">{{item}}</div>
        </div>
      </div>
    </div>
    <div class="experience">
      <div class="title">Experience</div>
      <div class="experience__list">
        <div class="experience__item" *ngFor="let item of experience; let i = index" [style.background-image]="'url(../assets/experience-' + (i+1) + '.png)'">
          <div class="experience__info">
            <div class="experience__duration">{{item.info.duration}}</div>
            <div class="experience__type">{{item.info.type}}</div>
            <div class="experience__tags">
              <div class="experience__tag" *ngFor="let tag of item.info.tags">{{tag}}</div>
            </div>
          </div>
          <div class="experience__about">
            <div class="experience__about-top">
              <div class="experience__title">{{item.about.title}}</div>
              <div class="experience__divider"></div>
              <div class="experience__name">{{item.about.name}}</div>
            </div>
            <div class="experience__about-text">{{item.about.text}}</div>
          </div>
          <div class="experience__artifacts">
            <div class="experience__artifacts-title">{{item.artifacts?.title}}</div>
            <div class="experience__artifacts-list">
              <a [href]="i.link" class="experience__artifact" *ngFor="let i of item.artifacts?.items">{{i.name}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
